body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    text-align: center;
}

.card {
    background: white;
    padding: 20px;
    width: 300px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.warning {
    color: red;
    font-weight: bold;
}

.safe {
    color: green;
    font-weight: bold;
}
